*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 4rem;
}

body{
    margin: 4rem;
}

.board{
    border: 0.1px solid rgba(0,0,0,0.2);
    height: 80vh;
    width: 80vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}

.cell{
    border: 0.1px solid rgba(0,0,0,0.2); 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.occupied{
    background-color:rgba(0,0,0,0.2) ;
}
.missed{
    background-color: rgba(253,0,0,0.2);
}