*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 4rem;
}

body{
    margin: 4rem;
}

.board{
    border-top: 0.01px solid rgba(0,0,0,0.2);
    border-left: 0.01px solid rgba(0,0,0,0.2);
    height: 80vh;
    width: 80vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    position: relative;
}

.ship{
    position: absolute;
    border: 3px solid blue;
    background-color:rgba(10,10,253,0.2) ;
}

.cell{
    border-bottom: 0.01px solid rgba(0,0,0,0.2); 
    border-right:0.01px solid rgba(0,0,0,0.2); 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.occupied{
    /* background-color:rgba(0,0,0,0.2) ; */
}
.missed{
    /* background-color: rgba(253,0,0,0.2); */
    font-size: 1rem;
    font-weight: bold;
}